@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-figtree;
    font-size: 12px;
    line-height: 14.52px;
    color: #637F9C;
    background-color: #fff;
  }
  text {
    @apply font-figtree;
  }
}